[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
pytelegrambotapi = "*"
python-dotenv = "*"
pdfnetpython3 = "*"
docx2pdf = "*"

[dev-packages]

[requires]
python_version = "3.9"
